* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f5f7fa;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  background: #fff;
  display: flex;
}

.sidebar {
  background: #1e2939;
  width: 380px;
  padding: 40px 0px;
}

.photo {
  width: 380px;
}

.main {
  padding: 110px 90px;
}

.contacts {
  padding-top: 60px;
  margin-right: 40px;
  margin-left: 40px;
}

.contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-bottom: 20px;
}

.contacts-link-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-right: 10px;
}

.contacts-link {
  color: #616874;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.skills {
  padding-top: 60px;
  margin-right: 40px;
  margin-left: 40px;
}

.skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-bottom: 20px;
}

ul.skills-list > li {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  list-style-position: inside;
  list-style-type: none;
}

ul.skills-list li::before {
  content: '\2022';
  color: #ff6b08;
  font-weight: bold;
  width: 1em;
  margin-right: 1em;
}

.info {
  margin-bottom: 65px;
}

.profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 25px;
}

.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 25px;
}

.main-item {
  margin-bottom: 45px;
}

.main-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.project-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #898989;
}

.tech-names {
  color: #797979;
}

.tech-names::before {
  content: '[';
  margin-right: 5px;
  font-weight: 700;
  color: black;
}

.tech-names::after {
  content: ']';
  margin-left: 5px;
  font-weight: 700;
  color: black;
}

.dots {
  color: #898989;
  font-weight: 100;
}

ol.projects-list {
  list-style: none;
  list-style-position: inside;
}

ol.projects-list li {
  counter-increment: counter;
}
ol.projects-list li::before {
  content: counter(counter) '. ';
  font-weight: bold;
}

.company > h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
}

.company-title {
  color: #ff6b08;
}
.company-title::before {
  content: '|';
  color: black;
  margin: 0px 5px;
}

.company span.period {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #afafaf;
}

.company ul {
  margin: 15px 0px;
  list-style-position: inside;
}

.education > h4 {
  color: #ff6b08;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.education > h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.education span.period {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #afafaf;
}
